.two-column-wrapper-dataBoard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 6vh;
}

.left-column-dataBoard {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-column-dataBoard {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}