.mobile-nav .mobile-nav-list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  bottom: 0;
  left: 21%;
  position: fixed;
}

.mobile-nav .mobile-nav-list li {
  display: inline-block;
  width: 64px;
  padding: 4px;
  margin: 6px;
  border-radius: 16px;
  background-color: #C1CDCD;
}

.mobile-nav .mobile-nav-list li a {
  margin-left:12px ;
}

.mobile-nav-list-element-first {
  margin-left: 5000px;
}