
.search-page-search-field-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 20px;
  padding: 12px;
}

.search-page-input-field {
  width: 60%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
  margin-right: 10px;
}

.search-page-input-button {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #f5f5f5;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}